* {
	padding: 0;
	margin: 0;
	outline: 0;
}

body,html {
	height: 100%;
}

body {
	background: #e1e5e8;
	font-family: "微软雅黑", Tahoma, Sans-Serif;
	font-size: 14px;
	line-height: 18px;
	color: #888;
}

input,textarea,select {
	font-family: "微软雅黑", Tahoma, Sans-Serif;
	font-size: 12px;
}

.field {
	padding: 4px 5px;
	border: solid 1px #e7e7e7;
	color: #969696;
	height: 15px;
}

.field-focused {
	color: #333;
}

a {
	color: #45c7ee;
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

a img {
	border: 0;
}

h2 {
	font-size: 19px;
	line-height: 1;
	font-weight: normal;
	color: #464646;
	font-family: "Trebuchet MS", Tahoma, Sans-Serif;
	margin-bottom: 5px;
}

p {
	padding-bottom: 3px;
}

#page {
	width: 874px;
	margin: 0 auto;
}

#page {
	padding: 0 28px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: url(images/bg.gif) repeat-y center 0;
}

#top {
	padding: 20px 0 16px;
}

#logo {
	float: left;
	display: inline;
	width: 233px;
	font-size: 0;
	line-height: 0;
}

#logo a {
	display: block;
	height: 67px;
	text-indent: -4000px;
	background: url(images/logo.gif);
}

#search {
	float: right;
	display: inline;
	padding-top: 18px;
	width: 227px;
}

#search .field-holder {
	float: left;
	display: inline;
	width: 196px;
	background: url(images/search-field.gif) no-repeat 0 0;
	padding: 1px;
}

#search .field {
	width: 186px;
	border: 0;
	background: none;
}

#search .button {
	float: right;
	display: inline;
	width: 25px;
	height: 25px;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

#search .button {
	background: url(images/search-button.gif) no-repeat 0 0;
	border: 0;
}

#navigation {
	height: 38px;
	background: url(images/navigation.gif) no-repeat;
	padding: 8px 10px 6px;
	margin-top: 16px;
}

#navigation ul {
	font-size: 13px;
	line-height: 38px;
	text-transform: capitalize;
}

#navigation ul li {
	float: left;
	display: inline;
	list-style-type: none;
	padding-right: 2px;
}

#navigation ul li a {
	float: left;
	display: inline;
	color: #fff;
	text-decoration: none;
	padding-left: 17px;
}

#navigation ul li a span {
	float: left;
	display: inline;
	padding-right: 17px;
	background-position: right 0 !important;
}

#navigation ul li a:hover,#navigation ul li a.active,#navigation ul li a:hover span,#navigation ul li a.active span
	{
	color: #717171;
	background: url(images/nav-active.gif) no-repeat 0 0;
}

#header {
	padding-bottom: 10px;
}

#middle {
	
}

#leftmenu {
	float: left;
	height: 500px;
	width: 160px;
}

#main {
	width: 710px;
	border-bottom: solid 1px #e3e7e9;
	min-height: 400px;
}

.notext {
	font-size: 18px;
	background-repeat: no-repeat;
}

.cl {
	font-size: 0;
	line-height: 0;
	clear: both;
	display: block;
	height: 0;
}

.col {
	color: #999;
	float: left;
	width: 260px;
	height: 230 px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 10px;
	background: url(images/bg1.png) no-repeat 0 0;
}

.button-more {
	display: block;
	width: 66px;
	height: 22px;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
	background: url(images/button-more.gif) no-repeat 0 0;
}

.more {
	padding-left: 10px;
	background: url(images/arr.gif) no-repeat 0 center;
}

#footer {
	height: 41px;
	background: url(images/footer.gif) no-repeat 0 0;
	line-height: 41px;
	padding: 10px 10px 10px 22px;
	color: #fff;
}

#footer p {
	padding-bottom: 0;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	color: #237087;
}

#footer span {
	margin: 0 6px;
}

#other {
	background: url(lsfe.png) bottom left no-repeat;
}

ul {
	
}

li {
	list-style: none;
	margin-bottom: 2px;
	padding: 2px;
}

#result {
	font-size: 18px;
	color: #09F;
}

img {
	border: 1px dashed #d4d4d4;
}

a {
	color: #3E9EFF;
}

a:hover {
	color: #999;
}

input,textarea {
	padding: 3px;
	border: 1px solid #ccc;;
	outline: 0;
	margin: 2px;
	background: #FFFFFF;
	min-width: 60px;
}

textarea {
	
}

input:hover,textarea:hover,input:focus,textarea:focus {
	border-color: #3E9EFF;
}

.button input {
	padding: 60px;
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
}

.error {
	color: #FF0000;
}

table {
	border-collapse: collapse;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	color: #666;
}

table td,table th {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

table tr:hover {
	background: #efefef;
}

table tr.odd th,table tr.odd td {
	background: #efefef;
}

.td150 {
	width: 150px;
}

.td200 {
	width: 200px;
}

.td300 {
	width: 300px;
}

.td400 {
	width: 400px;
}

.td600 {
	width: 600px;
}