<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
     	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="blue.liuk.*" />
  <!--   <aop:aspectj-autoproxy/> 
<aop:aspectj-autoproxy proxy-target-class="true"/>-->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost/eeman?characterEncoding=UTF-8" />
		<property name="username" value="blue" />
		<property name="password" value="123456" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>blue.liuk.model.Employee</value>
				<value>blue.liuk.model.Department</value>
				<value>blue.liuk.model.Reward</value>
				<value>blue.liuk.model.Pay</value>
				<value>blue.liuk.model.Train</value>
				<value>blue.liuk.model.User</value>
				<value>blue.liuk.model.InviteJob</value>
				<value>blue.liuk.model.Role</value>
				<value>blue.liuk.model.Resourse</value>
				<value>blue.liuk.model.Score</value>
				<value>blue.liuk.model.Notice</value>
				<value>blue.liuk.model.Document</value>
			</list>
		</property>

	</bean>

	<!-- Spring TS -->
	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- Spring TS END -->

</beans>
