<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>


		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/eeman?characterEncoding=UTF-8</property>
		<property name="connection.username">blue</property>
		<property name="connection.password">123456</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property> 
			<property name="connection.url">jdbc:oracle:thin:@localhost:1521:SXT</property> 
			<property name="connection.username">scott</property> <property name="connection.password">tiger</property> 
			<property name="dialect">org.hibernate.dialect.OracleDialect</property> -->

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>



		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>

		<!-- Drop and re-create the database schema on startup <property name="hbm2ddl.auto">update</property> -->
		<!-- <mapping resource="com/rainripple/hibernate/Student.hbm.xml"/> <mapping 
			resource="com/rainripple/hibernate/StuIdCard.hbm.xml"/> <mapping class="com.rainripple.hibernate.Husband"/> 
			<mapping class="com.rainripple.hibernate.Wife"/> -->
		<mapping class="blue.liuk.model.Reward" />
		<mapping class="blue.liuk.model.Department" />
		<mapping class="blue.liuk.model.Employee" />
		<mapping class="blue.liuk.model.Pay" />
		<mapping class="blue.liuk.model.Train" />
		<mapping class="blue.liuk.model.User" />
		<mapping class="blue.liuk.model.InviteJob" />
		<mapping class="blue.liuk.model.Role" />
		<mapping class="blue.liuk.model.Resourse" />
		<mapping class="blue.liuk.model.Notice" />
		<mapping class="blue.liuk.model.Score" />
		<mapping class="blue.liuk.model.Document" />
	</session-factory>

</hibernate-configuration>